.toDoTasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    text-align: left;
    margin: 0px;
    padding: 5px 20px;
}

.doneTasks{
    background-color: rgb(16, 228, 16);
}