.toDoTasks {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    text-align: left;
    height:30px;
    color: white;
    margin: 0px;
    padding: 5px 20px;
    font-size: 25px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
}

.toDoTasks:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.doneTasks {
    background-color: rgba(0, 200, 0, 0.8);
}

.doneTasks:hover {
    background-color: rgb(0, 203, 0);
}

.editTask {
    width: 100%;
    height: 30px;
    margin: 1.3px 0px;
    padding: 5px 0px;
    color: white;
    font-size: 25px;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    box-shadow: none;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
}

.icons {
  cursor: pointer;
  color: rgb(240, 240, 240);
  font-size: 20px;
  flex-shrink: 0;
}

.fas {
    color: #0500FF;
    margin-left: 14px;
}

.fas:hover {
    transform: scale(1.15);
}

.fa-save{
    color: rgb(0, 200, 0);
    font-size: 21px;
    vertical-align: middle;
}

.fa-close{
    color: red;
    font-size: 30px;
    vertical-align: middle;
}

.fa-trash{
    color: red;
}

.fa-check-circle{
    color: rgb(0, 200, 0);
}