.toDoTasks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.doneTasks{
    background-color: rgb(16, 228, 16);
}