.toDoContainer{
    width:700px;
    text-align: center;
    margin: 0 auto;
}

.toDoTitle{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    margin-bottom: 25px;
}

.toDoForm{
    display: inline-block;
}

.toDoInput{
    width: 400px;
    height: 35px;
    margin: 0;
    padding: 0px 10px;
    font-size: 20px;
}

.toDoSave{
    width: 70px;
    height: 35px;
    padding: 0;
    margin: 0 10px;
}

.clearAll{
    width: 85px;
    height: 35px;
    padding: 0;
}

.listContainer{
    width: 600px;
    height: 350px;
    margin: 30px auto;
    padding: 15px;
    border: solid 3px black;
}
